<html>
     <head>
        <title>Flask Assignment</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="main-content">
                <h2>My Portfolio</h2>
                <p>Please see below my past projects</p>
                <ul>
                    <li> Danger Zone</li>
                    <li> Fat Unicorn: The Poopening</li>
                    <li> Certify me</li>
                    <li> Woof Woof Go!</li>
                </ul>                
       </div>
    </body>
</html>
